NEXT_PUBLIC_COGNITO_USER_POOL_ID=us-east-1_p3sQWF56J
NEXT_PUBLIC_COGNITO_CLIENT_ID=2peialoophbsr5pso0grnljavt
NEXT_PUBLIC_COGNITO_DOMAIN=https://your-domain.auth.us-east-1.amazoncognito.com
COGNITO_USER_POOL_ID=us-east-1_p3sQWF56J
COGNITO_CLIENT_ID=2peialoophbsr5pso0grnljavt
DYNAMODB_TABLE_NAME=personal-budget-infra-dev-transactions
DYNAMODB_TABLE=personal-budget-infra-dev-transactions
AWS_REGION=us-east-1
CONTACT_SES_FROM_EMAIL=no-reply@example.com
CONTACT_SES_TO_EMAIL=hello@example.com
NEXT_PUBLIC_GA_ID=G-GBTCX7NMK3
# Google site verification token provided by Google Search Console. Add this to your .env
GOOGLE_SITE_VERIFICATION=cURvHh9mMjd0afVWAuMjUOTs_5Jq3-rNJ3IpKzgxVsc
